.box {
    width: 200px;
    height: 200px;
    border: 1px solid;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
    .box {
        background-color: #000;
        content: '767';
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
    .box {
        background-color: #fff;
        content: '767';
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
    .box {
        background-color: #cec;
        content: '767';
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none !important;
    }
    .box {
        background-color: #ece;
        content: '767';
    }
}