.border {
	border: 1px solid black;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0; }

body {
	margin: 20px;
}

hr {
	margin: 20px 0;
	width: 80%;
}

.fl_left {
	float: left;
}

.container {
	width: 600px;
}

h1 {
	font-family:Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

h3 {
	@extend h1;
	font-size: 14px;
}

h4 {
  @font-face {
    font-family: PT Sans;
    src: url(fonts/PTS55F.ttf);
   }
  font-size: 15px;
  font-family: "PT Sans";
  color: rgb(0, 118, 209);
  font-weight: bold;
  line-height: 1.067;
  text-align: left;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top_article {
	& figure {
	width: 200px;
	margin-right: 10px;
	& img {
			border-radius: 3px;
	}
}
	& figcaption {
			background-color: #efefef;
			font-size: 11px;
			padding: 10px 7px;
			margin-top: -7px;
			border-radius: 3px;
		}
}

p {
	font-size: 12px;
	line-height: 18px;
	a {
		text-decoration: underline;
		color: #c2dffc;
		&>span {
			color: #005ab7;
			&:hover {
				color: #f50017;
				text-decoration: underline;
			}
		}
	}
}

.menu{
	display:inline-block;
}
.menu>a {
	text-decoration: none;
	color: black;
}
.menu:hover [class*='icon']:not(:hover) {
	opacity: 0.5;
 }

/*---------------icon---------------*/
[class*='icon'] {
    height: 16px;
    display: block;
    background: url("../im/icons.png") left 0 no-repeat;
    padding-left: 23px;
    line-height: 1.15;
    font: 12px #efefef;
    margin-bottom: 8px;
}

.icon_home {
    background-position-y: -2px;
}
.icon_service {
    background-position-y: -28px;
}
.icon_redziny {
    background-position-y: -51px;
}
.icon_saltTransport {
    background-position-y: -77px;
}
.icon_mediaPlanning {
    background-position-y: -101px;
}
.icon_targeting {
    background-position-y: -123px;
}
.icon_positioning {
    background-position-y: -150px;
}
.icon_mediamiks {
    background-position-y: -174px;
}
.icon_legislation {
    background-position-y: -197px;
}
.icon_vug {
    background-position-y: -222px;
}

/*------------------listArticles----------------*/

.listArticles  {
	width: 80%;
	text-align: center;
}

.memberListArticles {
	display: inline-block;
	vertical-align: text-top;
	width: 200px;
	margin: 0 30px 20px 0;
/*	border: 1px solid black;
*/	& figcaption {
		  font-size: 12px;
		  font-family: "Arial";
		  text-align: left;
	}
}

/*----------search-------------*/
.hiddenSearch {
	width: 238px;
	height: 40px;
	border: 2px solid #4693b6;
	background: url("../im/search_hidden.png") left 0 no-repeat;
	padding-left: 45px;
    font-size: 20px;
    font-family: "Arial";
    line-height: 1.2;
        margin-top: -5px;
    &:focus {
    	outline: none;
    }

}

::-webkit-input-placeholder {color:#6c6c6c;} /* Chrome, Safari */
::-moz-placeholder          {color:#6c6c6c;} /* Firefox 19+ */
:-moz-placeholder           {color:#6c6c6c;} /* Firefox 18- */
:-ms-input-placeholder      {color:#6c6c6c;} /* IE */

/*-------------form---------------*/

input[type='email']:after {
    content: '@';
}

@mixin border_input {
	padding-left: 10px;
	border: 2px solid #bbe2f4;
	border-radius: 5px;
}

.form-field {
	width: 240px;
	height: 30px;
	@include border_input;
}

label {
    font-size: 14px;
    font-family: "Arial";
    color: #909090;
    padding: 10px 0 5px;
    display: block;
}

textarea{
	@include border_input;
	@extend label;
	color: black;
}

submit {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(187, 226, 244);
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(224,224,224) 0%, rgb(245,245,245) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(224,224,224) 0%, rgb(245,245,245) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(224,224,224) 0%, rgb(245,245,245) 100%);
  width: 124px;
  height: 33px;
}



.radiobut {
	margin: 15px 0;
}

.custom-chb, .custom-chb + label {
	display: inline-block;
}
.custom-chb + label {
	padding: 2px 15px 0 0;
	color: #444444;
}



.custom-btn {
  border-width: 2px solid rgb(187, 226, 244);
  border-radius: 3px;
  background-image: -moz-linear-gradient( 90deg, rgb(224,224,224) 0%, rgb(245,245,245) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(224,224,224) 0%, rgb(245,245,245) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(224,224,224) 0%, rgb(245,245,245) 100%);
  width: 124px;
  height: 33px;
  color: #6c6c6c;
  cursor: pointer;
  &:click {
  	box-shadow: inset 0px 1px 2px 0px rgba(0, 76, 111, 0.5);
	width: 120px;
	height: 29px;
  }
}


/*---------------radio--------------*/

.radio {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
}
.radio + label {
	cursor: pointer;
}
.radio:not(checked) {
	position: absolute;
	opacity: 0;
}
.radio:not(checked) + label {
	position: relative;
	padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
	content: '';
	position: absolute;
	top: -3px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #CDD1DA;
	border-radius: 50%;
	background: #FFF;
}
.radio:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 1px;
	left: 4px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #9FD468;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
	opacity: 0;
	transition: all .2s;
}
.radio:checked + label:after {
	opacity: 1;
}
.radio:focus + label:before {
	box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}