header {
	@extend .header;
	margin-bottom: 20px;
}

.site-header {
	widows: 100%;
	height: 300px;
	&_logo {
		float: left;
		margin: 10px 0;
	}
	&__menu {
		position: absolute;

		&--item {
			float: left;
		}
	}
}
