$bg-color:#eee;
$main-text-color: #333;
$main-primery-color: #76c7c0;
$header-color: #fff;

$main-font: 'Arial', sans-sirif;
$main-font-size: .9em;

$img-folder: '../im';

$h1-font-size: 1.1em;

$min-width: 960px;

