
h1, h2, h3, h4, h5, h6 {
  @include mySans;
  font-size: 2em;
  color: $mainColor;
  font-variant: small-caps;
  letter-spacing: 5px;
  text-transform: lowercase;
  text-align: center;
  margin-bottom: 5px;
}

h1{
  font-size: 2em;
  color: $mainColor;
  & > strong {
  letter-spacing: 2px;
  font-variant: normal;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  display: block; }
}

h3 {
  font-size: 1em;
  color: $secondColor;
  text-align: left;
}

.skrol>h1{
  font-size: 2em;
  color: $mainColor;
  & > strong {
  letter-spacing: 2px;
  font-variant: normal;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  display: block; }
}


