@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|PT+Sans:400,700&subset=cyrillic-ext);

$menuColor: #000;
$mainColor: #af1717;
$secondColor: #fff;
$textColor: #000;
$secondHeaderColor: rgba(0, 0, 0, .2);

/*--------menu colors--------*/
$menuColor1: #AF1717;
$menuColor2: #FFDD02;
$menuColor3: #50E3C2;
$menuColor4: #6f42ff;
$menuColor5: #84c800;



$menuColorText: #4C4D4D;